@import '../../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500;600&family=Mulish:ital,wght@0,600;0,700;1,400&display=swap');

.title-container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 30px;
    font-family: 'Mulish', sans-serif;
   

    &__header{
        display: flex;
        justify-content: space-between;
    
        h4{
            margin: 0;
            font-size: 25px;
            width: 300px;

        }
        a{
            border-radius: 5px;
            border: 1px solid #007bff;
            background-color: #3295ff;
            padding: 10px 10px;
            margin-left: 30px;
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
        }
    }
    &__block{
        margin-top: 30px;
        width: 100%;
        display: flex;

        .title-container__poster{
            flex: 0 0 33%;
            img{
                width: 300px;
                height: 400px;
                border-radius: 15px;
            }
        }
        .title-container__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-size: 25px;
                font-weight: bold;
            }
            div{
                display: flex;
                font-size: 20px;
            }
            ul{
                padding: 0;
            }
            li{
                display: flex;
            }
            .title-container__subtitle{
                flex: 0 0 25%;
                font-size: 20px;
           }
           .title-container__name{
               font-weight: bold;
               font-size: 20px;
           }

           .title-container__buttons{
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;

            button, a{
                border-radius: 5px;
                border: 1px solid #007bff;
                background-color: #3295ff;
                padding: 10px 10px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
                cursor: pointer;
            }
            a{
                margin-right: 0;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 15px;
            }
           }
        }
    }

    .star-rating {
        display: inline-block;
        margin-left: 10px;
      }
      
      .star {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 2px;
        background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=);
        background-size: contain;
      }
      
      .filled {
        background-color: gold;
      }
}

@media screen and (max-width: 576px) {
    .title-container{
        padding: 10px 15px;
    }
    .title-container__header{
        h4,a{
            font-size: 16px;
            padding: 5px;
        }
        a{
            margin-left: 15px;
        }
    }
    .title-container__block{
        .title-container__poster img{
            width: 200px;
            height: 300px;
        }
    }
    .title-container__block{
    .title-container__content{
        div{
            font-size: 16px;
            margin-right: 5px;
        }
        margin-left: 10px;
        p{
            font-size: 16px;
            padding: 0;
            margin: 0;
        }
        .title-container__name{
            font-size: 16px;
        }
        .title-container__subtitle{
            font-size: 14px;
        }
        .title-container__buttons{
            margin-bottom: 0;
            button, a{
                font-size: 16px;        
        }  
        button{
            margin-right: 15px;
        }
      }
    }
}
}